


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'medieval';
    src: url('@/assets/fonts/MedievalTimeline-DOPRE.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
}